body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#startButton {
    padding: 100% 100%;
    font-size: 200%;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #000000;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

#rickrollGif {
    max-width: 80%;
    max-height: 60vh;
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

footer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

footer a {
    color: #00f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
